.backimg{
    background: url(iri.jpg);
    width: 100%;
    height: 600px;
}
.logo {
  font-size: 3.5rem;
  font-weight: bolder;
  color:#0093d7;
}
.logo span{
  color:#FF8000;
   
}
.navbar a{
  width: 100%;
  height: 40px;
  position: relative;
  color:#0093d7;
  font-size: 2rem;
  margin: 2px;;
  padding: 2px 0;
}
.navbar a:before{
  content:'';
  position: absolute;
  height: 3px;
 /*bottom: 0;*/
  bottom:-5px;
  opacity: 0;
  width:100%;
  left: 0;
  /*width: 0%;*/
  background: #FF8000;
  transition: all 0.4s ease;
}
.navbar a:hover:before{

  bottom: 0px;
  opacity: 1;
  }
#button1{
    background:#FF8000;
    color: white;
    padding: 10px ;
    margin: 20px;
    float: right
    ;
    border-radius: 0;
    font-size: 1.25rem;
    font-weight: 600;
    position:relative;

}
{
  color:#0093d7;
 
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer ;
  display: none;
}

.fit-picture{
  width: 400px;
  
  height: 400px;
  margin: 2px;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  height: 50px;

  background-color: rgb(112, 112, 182);
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  width: 175px;
  text-align: center;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 23px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
  width: 175px;
}

/* Current/active navbar link */
.active {
  background-color: rgb(145, 89, 145);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-size: 40px;
    color: black;
  }
  p{
    font-family: inherit;
    color: black;
    font-size: 24px;
    float: left;
  }
  hr{
    height: 4px;
    height: 4px;
    background-color: purple;
  }
  
.social-icons {
  margin: 0 auto;
  /* You just need to change the width and height
  of your div here.
  The size of the images will adapt automatically.
  Make sure that the width is 5 times the height
  for better results.*/
  width: 640px;
  height: 128px;
  position: relative;
}


.social-icons .social-icons-image {
  display: inline-block;
  position: absolute;
  width: 33%;
  height: auto;
  z-index: 2;
  opacity: 1;
  transition: all .5s;
  padding: 2%;
  box-sizing: border-box;
}

.social-icons .social-icons-image a {
  display: inline-block;
  width: 100%;
  height: 100%;
}


.social-icons img {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-icons a:hover img {
  width: 110%;
  height: auto;
  margin: -5%;
}

.social-icons .social-icons-image:nth-child(1) {
  left: 33.755%;   /*(nth-child(2).left - (50% * 20%)/4)*/
  top: 25%; /*((100%-50%)/2)*/
  z-index: 0;
  width: 10%; /*(50% * 20%)*/
  height: auto;
  opacity: .5;
}


.social-icons .social-icons-image:nth-child(2) {
  left: 36.25%;   /*(40% - (75% * 20%)/4)*/
  top: 12.5%; /*((100%-75%)/2)*/
  z-index: 1;
  width: 15%; /*(75% * 20%)*/
  height: auto;
  opacity: .75;
}

.social-icons .social-icons-image:nth-child(3) {
  left: 40%;
  z-index: 2;
  width: 20%;
  height: auto;
}

.social-icons .social-icons-image:nth-child(4) {
  left: 48.75%; /*(60% - 3*(75% * 20%)/4*/
  top: 12.5%; /*((100%-75%)/2)*/
  z-index: 1;
  width: 15%; /*(75% * 20%)*/
  height: auto;
  opacity: .75;
}

.social-icons .social-icons-image:nth-child(5) {
  left: 56.25%;   /*(nth-child(4).left + (nth-child(4).width- 3*(50% * 20%)/4)*/
  top: 25%; /*((100%-50%)/2)*/
  z-index: 0;
  width: 10%; /*(50% * 20%)*/
  height: auto;
  opacity: .5;
}

.social-icons:hover .social-icons-image:nth-child(1) {
  top: 0px;
  left: 0%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(2) {
  top: 0px;
  left: 20%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(4) {
  top: 0px;
  left: 60%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(5) {
  top: 0px;
  left: 80%;
  width: 20%;
  opacity: 1;
}

.social-icons {
  margin: 0 auto;
  /* You just need to change the width and height
  of your div here.
  The size of the images will adapt automatically.
  Make sure that the width is 5 times the height
  for better results.*/
  width: 640px;
  height: 128px;
  position: relative;
}


.social-icons .social-icons-image {
  display: inline-block;
  position: absolute;
  width: 33%;
  height: auto;
  z-index: 2;
  opacity: 1;
  transition: all .5s;
  padding: 2%;
  box-sizing: border-box;
}

.social-icons .social-icons-image a {
  display: inline-block;
  width: 100%;
  height: 100%;
}


.social-icons img {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-icons a:hover img {
  width: 110%;
  height: auto;
  margin: -5%;
}

.social-icons .social-icons-image:nth-child(1) {
  left: 33.755%;   /*(nth-child(2).left - (50% * 20%)/4)*/
  top: 25%; /*((100%-50%)/2)*/
  z-index: 0;
  width: 10%; /*(50% * 20%)*/
  height: auto;
  opacity: .5;
}


.social-icons .social-icons-image:nth-child(2) {
  left: 36.25%;   /*(40% - (75% * 20%)/4)*/
  top: 12.5%; /*((100%-75%)/2)*/
  z-index: 1;
  width: 15%; /*(75% * 20%)*/
  height: auto;
  opacity: .75;
}

.social-icons .social-icons-image:nth-child(3) {
  left: 40%;
  z-index: 2;
  width: 20%;
  height: auto;
}

.social-icons .social-icons-image:nth-child(4) {
  left: 48.75%; /*(60% - 3*(75% * 20%)/4*/
  top: 12.5%; /*((100%-75%)/2)*/
  z-index: 1;
  width: 15%; /*(75% * 20%)*/
  height: auto;
  opacity: .75;
}

.social-icons .social-icons-image:nth-child(5) {
  left: 56.25%;   /*(nth-child(4).left + (nth-child(4).width- 3*(50% * 20%)/4)*/
  top: 25%; /*((100%-50%)/2)*/
  z-index: 0;
  width: 10%; /*(50% * 20%)*/
  height: auto;
  opacity: .5;
}

.social-icons:hover .social-icons-image:nth-child(1) {
  top: 0px;
  left: 0%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(2) {
  top: 0px;
  left: 20%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(4) {
  top: 0px;
  left: 60%;
  width: 20%;
  opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(5) {
  top: 0px;
  left: 80%;
  width: 20%;
  opacity: 1;
}


form {
  float: center;
  color: black;
  background-color: gray;

  width: 1480px;
  margin: 1px;

  border: 1px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
::placeholder {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0.7; 
}
input {
  all: unset;
  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}


/*footer section */

.f-section{
  position:relative;
  width: 100%;
  background:#3586ff;
  min-height: 100px;
  padding: 20px 50px;
  align-items: center;
  flex-direction: column;
}

.f-section .social_icon,
.f-section .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.f-section .social_icon li,
.f-section .menu li
{
  list-style: none;
}

.f-section .social_icon li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.f-section .social_icon li a:hover
{
  transform: translateY(-10px);
}

.f-section .menu li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.f-section .menu li a:hover{
  opacity: 1;
}
.f-section p
{
  color: black;
  text-align: center;
  margin-top: 15px; 
  margin-bottom: 10px;
  font-size:1.1em ;
}

.f-section .wave
{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background:url(../images/wave.png);
background-size: 1000px 100px;
}

.f-section .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite ;
}

.f-section .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite ;
}

.f-section .wave#wave3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite ;
}

.f-section .wave#wave4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite ;
}

.footer {
  background-color: #24262b;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h5 {
  font-size: 18px;
  color: #0093d7;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h5::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px ;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;

}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/* footer section*/


/* media queries*/
 
@media (max-width:1200px){
  html{
      font-size: 55%;
  }
}

@media (max-width:991px){
  header{
      padding: 2rem;
  }
}

@media (max-width:768px){
  #menu-bar{
     display:initial;
     border-radius: 5px;

  }
  .row {
      flex-direction: column;
  }
  .about-content {
  
      margin-top: auto;
   }
   .about-content h1 {
       font-size: 3vmin;
      
   }
   .about-content p {
       font-size: 1.8vmin;
   }
  .footer-col {
        
      margin-bottom: 30px;
  }